html {
  background-color: #006666;
  background-image: url(../images/raindrops.jpg);
}
.layout-container {
  background: #ffffff;
}
.region-header {
  background-color: #ffcc00;
  padding: 15px 25px;
  font-weight: bold;
}
.region-header a {
  text-decoration: none;
}
.site-logo,
.site-name {
  display: inline-block;
  vertical-align: middle;
}
.site-logo img {
  width: 95px;
}
.region-primary-menu {
  background-color: #ffcc00;
  padding: 0 25px;
  font-weight: bold;
}
.region-primary-menu a {
  text-decoration: none;
}
.region-primary-menu ul.menu {
  margin: 0;
}
.region-primary-menu ul.menu li {
  display: block;
  margin-right: 0;
}
.region-secondary-menu {
  background: #ffcc00;
  padding:  0 25px;
}
.region-secondary-menu a {
  text-decoration: none;
}
.region-secondary-menu ul.menu {
  margin: 0;
}
.region-secondary-menu ul.menu li {
  display: block;
  margin-left: 0;
}
.region-content {
  padding: 0 25px 25px 25px;
}
.region-sidebar-first {
  padding: 0 25px 25px 25px;
}
.breadcrumb {
  padding: 25px;
}
.article-teaser-wrapper {
  border: 3px solid #009900;
}
.layout-share-links .block {
  padding: 10px;
  background: #ffffff;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .region-primary-menu {
    float: left;
    height: 32px;
    margin-bottom: -32px;
    z-index: 10;
    position: relative;
  }
  .region-primary-menu ul.menu li {
    display: inline-block;
    margin-right: 15px;
  }
  .region-secondary-menu ul.menu {
    text-align: right;
  }
  .region-secondary-menu ul.menu li {
    display: inline-block;
    margin-left: 15px;
  }
}
